<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body class="bg-gradient-primary">

    <div class="container">
        {{{body}}}
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyBW-eIzFn17YseudUJYok4X6hSjtLwcZ5Y",
                authDomain: "mhpapp-23c4e.firebaseapp.com",
                databaseURL: "https://mhpapp-23c4e-default-rtdb.firebaseio.com",
                projectId: "mhpapp-23c4e",
                storageBucket: "mhpapp-23c4e.appspot.com",
                messagingSenderId: "108412306514",
                appId: "1:108412306514:web:c62b3b69b1b339e39acb8b",
                measurementId: "G-6YJ3QR47C8"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

            document
                .getElementById("login")
                .addEventListener("submit", (event) => {
                    event.preventDefault();
                    const email = event.target.email.value;
                    const password = event.target.password.value;

                    firebase
                        .auth()
                        .signInWithEmailAndPassword(email, password)
                        .then(({ user }) => {
                            return user.getIdToken().then((idToken) => {
                                return fetch("/user/sessionLogin", {
                                    method: "POST",
                                    headers: {
                                        Accept: "application/json",
                                        "Content-Type": "application/json",
                                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                    },
                                    body: JSON.stringify({ idToken }),
                                });
                            });
                        })
                        .then(() => {
                            console.log("ok")
                            return firebase.auth().signOut();
                        })
                        .then(() => {
                            window.location.assign("/");
                        });
                    return false;
                });
        });
    </script>

    {{> _scripts}}

</body>

</html>