{{> _profile_header}}

<div class="container mt-4">
    <!-- Account page navigation-->
    {{> _profile_nav}}

    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Şifre Değiştir</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (current password)-->
                        <div class="form-group">
                            <label class="small mb-1" for="currentPassword">Current Password</label>
                            <input class="form-control" id="currentPassword" type="password"
                                placeholder="Enter current password">
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="form-group">
                            <label class="small mb-1" for="newPassword">New Password</label>
                            <input class="form-control" id="newPassword" type="password"
                                placeholder="Enter new password">
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="form-group">
                            <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                placeholder="Confirm new password">
                        </div>
                        <button class="btn btn-primary" type="button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>